<!DOCTYPE html>
<html>
  <head>
    <title>FindMeHere | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "pages" %>
    <%= yield(:additional_javascripts) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div>
    	<%= yield %>
    </div>

     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrGYiVUGU5xJEhczYc-rVybtobuXmMkv8">
    </script>
  </body>
</html>
